In [12]:
import gzip
import numpy as np
import pandas as pd

import json

In [2]:
def readGz(path):
    for l in gzip.open(path, 'rt'):
        yield json.loads(l)

In [3]:
def readCSV(path):
    f = gzip.open(path, 'rt')
    f.readline()
    for l in f:
        u,b,r = l.strip().split(',')
        r = int(r)
        yield u,b,r

In [4]:
rent_runway = pd.DataFrame(list(readGz("./renttherunway_final_data.json.gz")))

In [5]:
# Data Cleaning Cell
rent_runway["bust size"] = rent_runway["bust size"].str[2:]
rent_runway["weight"] = rent_runway["weight"].str[:-3].astype(float)
rent_runway["height"] = (rent_runway["height"].str[0].astype(float) * 12) + rent_runway["height"].str[2:-1].astype(float)
rent_runway["age"] = rent_runway["age"].astype(float)
rent_runway["rating"] = rent_runway["rating"].astype(float)
rent_runway["review_date"] = pd.to_datetime(rent_runway["review_date"])
rent_runway["year"] = rent_runway["review_date"].dt.year
rent_runway["month"] = rent_runway["review_date"].dt.month
rent_runway.loc[rent_runway["rented for"] == "party: cocktail", "rented for"] = "other"
rent_runway = rent_runway.drop(columns="review_date")
filtered_runway = rent_runway.dropna()

In [23]:
filtered_runway.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,year,month
0,fit,420272,d,2260466,137.0,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14,28.0,2016,4
1,fit,273551,b,153475,132.0,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12,36.0,2013,6
3,fit,909926,c,126335,135.0,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8,34.0,2014,2
4,fit,151944,b,616682,145.0,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12,27.0,2016,9
5,fit,734848,b,364092,138.0,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8,45.0,2016,4

In [21]:
fp = os.path.join(os.path.dirname(os.path.realpath('eda.ipynb')))
filtered_runway.to_csv(fp + '/cleaned_runway.csv', index=False)